@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  background: white;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}