@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Archivo", sans-serif;
  background: white;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  min-height: 2000px;
}


/* Styling for navbar */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
	display: flex;
    padding: 0 50px;
    height: 80px;
	margin: auto;
    align-items: center;
    background-color: white;
    opacity: .9;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);
}

.logo-container h4 {
    font-size: 25px;
    font-weight: bold;
}

.logo-container,
.nav-links{
    display: flex;
}

.logo-container{
    flex: 1;
}

.logo {
    font-weight: 400;
    margin: 5px;
}

nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    color: #000;
    text-decoration: none;
}

/* Hamburger Menu */
.menu-toggle {
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    display: none;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 29px;
    opacity: 0;
    left: -6px;
    top: -6px;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(54, 53, 53);
    border-radius: 10px;
    transition: .7s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:last-child{
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:last-child {
    transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
}
/* End of Navbar styling */

/* Header styling */
.container-header {
    width: 90%;
    margin: 50px auto;
}

.container-header .header-text {
    display: flex;
    justify-content: space-between;
}

.header-text h1 {
    max-width: 750px;
    font-size: 60px;
    display: flex;
    flex-direction: column;
}

.header-text .cta {
    max-width: 370px;
    font-size: 15px;
    align-self: flex-end;
}

.cta a {
    text-decoration: none;
    color: #fff;
    padding: .5rem 1.2rem;
    background-color: #000;
    border-radius: 5px;
}

.img-header {
    margin-top: 50px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 280px;
    grid-template-areas: 
    "picture-1 picture-1 picture-1 picture-2"
    "picture-1 picture-1 picture-1 picture-3"
    "picture-4 picture-4 picture-5 picture-5";
    gap: 10px;
}

.img-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.img-header img:first-child {
    grid-area: picture-1;
}

.img-header img:nth-child(2) {
    grid-area: picture-2;
}
.img-header img:nth-child(3) {
    grid-area: picture-3;
}
.img-header img:nth-child(4) {
    grid-area: picture-4;
}
.img-header img:last-child {
    grid-area: picture-5;
}
/* End of Header styling */

/* About us styling */
.container-about-us {
    width: 90%;
    margin: 50px auto;
}

.container-about-us .title-container {
    display: flex;
    justify-content: space-between;
}

.title-header {
    max-width: 600px;
}

.container-about-us .title-container .title-header h2{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.container-about-us .title-container .title-header p {
    font-size: 30px;
}

.title-container .stats {
    display: flex;
    font-size: 20px;
    gap: 60px;
    text-align: center;
    line-height: 10px;
    align-self: flex-end;
}

.line {
    border-left: 2px solid #000;
    margin-top: 25px;
}

.stats .item p {
    font-weight: 600;
}

/* The end of About us styling */

/* Screen breakpoints layout styles */
@media screen and (max-width: 1024px) {
    /* navbar */
    .nav-links {
        justify-content: space-between;
    }

    /* Header */
    .img-header {
        margin-top: 50px;
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: 280px;
        grid-template-areas: 
        "picture-1 picture-1 picture-1 picture-2 picture-2 picture-2"
        "picture-3 picture-3 picture-4 picture-4 picture-5 picture-5";
        gap: 10px;
    }
    /* The end of header styling */
    
    /* About us */
    .title-container .stats {
        gap: 20px;
        line-height: 20px;
    }
    
    .stats .item p {
        font-weight: 600;
        margin-bottom: 10px;
    }
    /* The end of about us styling */
}

@media screen and (max-width: 567px) {
    /* Header */
    .container-header {
        margin: 100px auto;
    }
    .container-header .header-text {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .header-text h1 {
        font-size: 40px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .header-text .cta {
        max-width: 370px;
        font-size: 15px;
        align-self: flex-start;
    }

    .img-header {
        margin-top: 20px;
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: auto;
        grid-template-areas: 
        "picture-1 picture-1 picture-1 picture-1 picture-1 picture-1"
        "picture-2 picture-2 picture-3 picture-3 picture-5 picture-5"
        "picture-4 picture-4 picture-4 picture-4 picture-4 picture-4";
        gap: 5px;
    }
    /* The end of header styling */

    /* Navbar */
    .menu-toggle {
        display: flex;
        z-index: 6;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: -16px;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        background-color: #ffffff;
        transition: 1s;
        opacity: 0;
        padding: 100px 0;
        box-shadow: 0 2px 5px 0 #aaa;
    }

    nav .nav-links .nav-link{
        color: #000;
        font-weight: 500;
        font-size: 20px;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
}